/* ============CSS SELECTOR============= */
/* Universal selector  */
* {
	margin: 0;
	padding: 0;
}
/* Tag selector */
h1 {
	color: red;
}
/* Class selector */
.odd {
	text-transform: uppercase;
	color: green;
}
/* Id selector */
#heading {
	color: purple;
}
/* Attribute Selector */
[type="submit"] {
	color: red;
	padding: 20px;
}